body {
    margin: 0;
}
h1 { 
    color: orchid;
    font-family: fantasy; } 

    .highlight {
        background-color: coral
    
    }
    .container 
    {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }
   
    img {
        display: block;
        margin: 0; auto;
        max-width: 500px;
        width: 100%;
    }
   
    iframe {
        width: 100%;
    }
#header {
    border: 12px solid dodgerblue;
    margin: 50px;
    padding: 45px; 
}
#content {
    border: 53px dashed whitesmoke;
    margin: 12px;
    padding: 32px;

}
#sidebar {
    border: 36px groove goldenrod;
    margin:29px;
    padding:72px;       
    top: 0;
    right: 0;
}
#sidebar {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    right: 0;
}
#navigation ul ul {
    display: none;
    position: absolute
    right: 0;
}
#navigation li {
    position: relative;
}
#navigation li {
    display: inline;
    top: 0;
    right: 0;
    
}
#navigation li:first-child {
    background-color: blueviolet;
}
#footer {
    border: 27px solid crimson;
    margin: 12px;
    padding: 23px;
}
h2 {
    color:orangered

}

#extra {
    color: blue

}
#one {
    color: turquoise
}
#two {
    color: red

}
#three {
    color: green
}
#navigation:hover {
    background-color: aquamarine;
}
#navigation ul ul {
    display: none;
}
#navigation a + ul:hover,
#navigation a:hover + ul {
    display:block;
}